<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fight Detection Demo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">FIGHT DETECTION Web Demo</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/example/1" target="_blank">Example1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/example/2" target="_blank">Example2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/example/3" target="_blank">Example3</a>
          </li>
        </ul>
        <span class="navbar-text">
          BOAZ 12기 Project
        </span>
      </div>
    </nav>

    <div class="user_section">
      <!-- 비디오 중앙정렬 하기 위해서 안 보이는 object 하나 넣은거 -->
      <input
        class="btn btn-primary btn-lg submit"
        id="x"
        type="submit"
        value="Submit"
      />

      <!-- real time -->
      <div class="real_time">
        <div class="webcam">
          <video controls autoplay></video><br>
        </div>

        <!-- Save Button -->
        {% include './save.html' %}
      </div>

      <input
        class="btn btn-primary btn-lg submit"
        type="submit"
        value="Submit"
      />
    </div>

    <!-- result : input/output -->
    <div class="demo_section">
      <div class="input">
        <h1>Input Video</h1>

        {% if path %}
        <div class="player">
          <video height="80%" autoplay controls>
            <source src="/media/input/{{path}}.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>

        {% else %}
        <div class="describe"><span>Enter Input Video.</span></div>
        {% endif %}
      </div>

      <div class="output">
        <h1>Output Video</h1>

        {% if path %}
        <div class="player">
          <video height="80%" autoplay controls>
            <source src="/media/output/{{path}}.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>

        {% else %}
        <div class="describe"><span>Wait....</span></div>
        {% endif %}
      </div>
    </div>

<script>
var constraints = {
	audio:false,
	video:{
		width:640,
		height:480,
		framerate:30}
	};

var videoElement = document.querySelector('video');
var recBtn = document.querySelector('button#rec');
var stopBtn = document.querySelector('button#stop');
var downloadLink = document.querySelector('a#downloadLink');
videoElement.controls = true;

var mediaRecorder;
var chunks = [];
var count = 0;
var localStream = null;

if (!navigator.mediaDevices.getUserMedia){
	console.log('navigator.mediaDevices.getUserMedia not supported on your browser, use the latest version of Firefox or Chrome');
} else {
	if (window.MediaRecorder == undefined) {
			console.log('MediaRecorder not supported on your browser, use the latest version of Firefox or Chrome');
	} else{
		navigator.mediaDevices.getUserMedia(constraints)
			.then(function(stream) {
				localStream = stream;
				localStream.getTracks().forEach(function(track) {
					if(track.kind == "video"){
						track.onended = function(event){ }
					}
				});
				videoElement.srcObject = localStream;
				videoElement.play();
			}).catch(function(err) {
				console.log(err)
			});
	}
}

function onBtnRecordClicked () {
	alert("녹화가 시작됩니다.")
	console.log("Start Recording")

	if (localStream == null) {
		console.log('Could not get local stream from mic/camera');
	} else {
		if (typeof MediaRecorder.isTypeSupported == 'function'){
			if (MediaRecorder.isTypeSupported('video/x-msvideo;codecs=vp9')) {
			  var options = {mimeType: 'video/x-msvideo;codecs=vp9'};
			} else if (MediaRecorder.isTypeSupported('video/x-msvideo;codecs=h264')) {
			  var options = {mimeType: 'video/x-msvideo;codecs=h264'};
			} else  if (MediaRecorder.isTypeSupported('video/x-msvideo;codecs=vp8')) {
			  var options = {mimeType: 'video/x-msvideo;codecs=vp8'};
			}
			mediaRecorder = new MediaRecorder(localStream, options);
		} else {
			mediaRecorder = new MediaRecorder(localStream);
		}
		mediaRecorder.ondataavailable = function(e) {
			chunks.push(e.data);
		};

		mediaRecorder.onstart = function(){
			localStream.getTracks().forEach(function(track) { });
		};

		mediaRecorder.onstop = function(){
			var blob = new Blob(chunks, {type: "video/x-msvideo"});
			chunks = [];
			var videoURL = window.URL.createObjectURL(blob);

			downloadLink.href = videoURL; // 경로 지정!
			videoElement.src = videoURL;

			var rand =  Math.floor((Math.random() * 10000000));
			var name  = "video_"+rand+".avi" ;
			downloadLink.setAttribute( "download", name);
			downloadLink.setAttribute( "name", name); // 다운로드 자동 실행!
		};

		mediaRecorder.start(100);
		localStream.getTracks().forEach(function(track) {
		})
	}
}

function onBtnStopClicked(){
	alert('녹화가 완료되었습니다. \n결과가 나오는 동안 잠시만 기다려주세요:-)')
	console.log("Stop Recording")
	mediaRecorder.stop();
	videoElement.controls = true;
}

</script>

  </body>
</html>
