<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fight Detection Demo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>

  <body onload="load()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">FIGHT DETECTION Web Demo</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/example/1" target="_blank">Example1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/example/2" target="_blank">Example2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/example/3" target="_blank">Example3</a>
          </li>
        </ul>
        <span class="navbar-text">
          BOAZ 12기 Project
        </span>
      </div>
    </nav>

    <div class="user_section">
      <!-- 비디오 중앙정렬 하기 위해서 안 보이는 object 하나 넣은거 -->
      <input
        class="btn btn-primary btn-lg submit"
        id="x"
        type="submit"
        value="Submit"
      />

      <!-- real time -->
      <div class="real_time">
        <div class="webcam">
          <video id="myVideo" width="400" height="250" autoplay="autoplay" />
        </div>

        <!-- Save Button -->
        {% include './save.html' %}
      </div>

      <input
        class="btn btn-primary btn-lg submit"
        type="submit"
        value="Submit"
      />
    </div>

    <!-- result : input/output -->
    <div class="demo_section">
      <div class="input">
        <h1>Input Video</h1>

        {% if path %}
        <div class="player">
          <video width="80%" height="300" autoplay controls>
            <source src="/media/input/{{path}}.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>

        {% else %}
        <div>Enter Input Video.</div>
        {% endif %}
      </div>

      <div class="output">
        <h1>Output Video</h1>

        {% if path %}
        <div class="player">
          <video width="80%" height="300" autoplay controls>
            <source src="/media/output/{{path}}.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>

        {% else %}
        <div>Wait....</div>
        {% endif %}
      </div>
    </div>

    <script>
      function load() {
        var video = document.getElementById("myVideo");
        if (navigator.webkitGetUserMedia) {
          navigator.webkitGetUserMedia(
            { audio: true, video: true },
            function(stream) {
              video.srcObject = stream;
              video.play();
            },
            function(error) {
              alert("ERROR: " + error.toString());
            }
          );
        } else {
          alert("webkitGetUserMedia is not supported");
        }
      }
    </script>
  </body>
</html>
